*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow-x: hidden;
}

img{
    width: 100%;
}

.hero-image{
    background-image: url(./images/Athletics\ Pole\ Vaulting.jpeg);
    width: 100%;
    height: 450px;
    background-size: cover;
    background-position: bottom -275px center;
}

.hero-text{
    color: whitesmoke;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 90px;
    font-size: 4rem;
}

.design{
    height: 150px;
    object-fit: fill;
    overflow: hidden;
    position: relative;
}

.two-column{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    margin: auto;
    margin-top: 25px;
}

.card{
    background-color: rgb(228, 228, 228);
    text-align: center;
}

.footer{
    background-color:black;
    height: 50px;
    margin: auto;
    margin-top: 25px;
}

.footer-text{
    color:whitesmoke;
    font-size: 1rem;
    position: absolute;
    text-align: center;
    width: 100%;
}

a{
    color: whitesmoke;
}

.title{
    background-image: url("./images/Digital_Weave_landscape\ small\ scale\ -\ Burnside\ pounamu.png");
    height: 75px;
    object-fit: fill;
    overflow: hidden;
    background-size: cover;
    margin-top: 25px;
}
 .main-text{
    color: whitesmoke;
    text-align: center;
    font-size: 2rem;
    margin: auto;
    margin-top: 15px;
 }

